{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    
    {{ form_start(registerForm, {'attr': {'novalidate': 'novalidate'}}) }}

    <h4>Role Information</h4>
    {{ form_row(registerForm.roles, {'attr': {'class': 'form-control'}}) }}

    <hr>

    <h4>Account Information</h4>
    {{ form_row(registerForm.fullname, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registerForm.poste, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registerForm.mf, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registerForm.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registerForm.password.first, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registerForm.password.second, {'attr': {'class': 'form-control'}}) }}
    <hr>
    <div class="text-center">
        {{ form_widget(registerForm.save, {'label': 'Create Account', 'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    {{ form_end(registerForm) }}

{% endblock %}
