{% extends 'baseAdmin.html.twig' %}


{% block body %}
   

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <form action="{{ path('app_liste_devis') }}" method="get" class="d-flex">
                    <div style="margin-right:10px;">
                        <h5 class="mt-2 text-github">
                            <strong>Filtrer par :</strong>
                        </h5>
                    </div>

                    <div class="form-group ml-3" style="margin-right:10px;">
                        <input type="text" name="code" class="form-control" placeholder="N° de commande">
                    </div>

                    <div class="form-group ml-3" style="margin-right:10px;">
                        <input type="date" name="date" class="form-control" placeholder="Filtrer par date">
                    </div>

                    <button style="margin-right:10px;" type="submit" class="btn btn-primary ml-3">Filtrer</button>
                    <a href="{{ path('app_liste_devis') }}" class="btn btn-danger ml-3">Annuler Filtres</a>
                </form>
                <a class="btn btn-primary" href="{{path('app_ajout_devis')}}">Ajouter devis</a>
            </div>
        </div>
    </div>
</div>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel col-lg-12">
            <div class="content-wrapper">
                <h1 class="text-center text-github font-weight-bold my-4">Liste des Devis</h1>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if commandes is not empty %}
                    <table class="table table-responsive-lg  table-bordered">
                        <thead style ="background-color:#5D87FF;color:white;" class="">
                            <tr>
                                <th>Client</th>
                                <th>Date</th>
                                <th>Code</th>
                                <th>Désignation</th>
                                <th>Qte</th>
                                <th>PU.H.T</th>
                                <th>TVA</th>
                                <th>R%</th>
                                
                                <th class=" text-center" colspan="2">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in commandes %}
                                {% set numRows = item.devimateriels|length %}
                                {% for commande_materiel in item.devimateriels %}
                                    <tr>
                                        {% if loop.first %}
                                            <td rowspan="{{ numRows }}">{{ item.client.nomprenom }}</td>
                                            <td rowspan="{{ numRows }}">{{ item.date | date('d-m-Y') }}</td>
                                            <td rowspan="{{ numRows }}">{{ item.code }}</td>
                                        {% endif %}

                                        <td>{{ commande_materiel.materiel.nom }}</td>
                                        <td>{{ commande_materiel.qte }}</td>
                                        <td>{{ commande_materiel.prix }}</td>
                                        <td>{{ commande_materiel.tva }} %</td>
                                        <td>{{ commande_materiel.remise|number_format(2, '.', ' ') }}</td>
                                        
                                        {% if loop.first %}
                                            
                                            <td rowspan="{{ numRows }}">
                                                <li><a type="submit" class="btn btn-warning" href="{{path('app_detail_devis',{'id':item.id})}}"> Detail devis</a></li>
                                            </td>
                                            <td rowspan="{{ numRows }}">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                                        <li><a type="submit" class="dropdown-item" href="{{path('app_update_devis',{'id':item.id})}}"><i class="fas fa-edit"></i> Modifier</a></li>
                                                        <li><a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce matériel ?')" type="submit" class="dropdown-item" href="{{path('app_delete_devis',{'id':item.id})}}"><i class="fas fa-trash-alt"></i> Supprimer</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                                <tr style="border-bottom: 2px solid black;"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="bg-info text-black p-3">Aucun devis disponible</div>
                {% endif %}

            </div>
        </div>
    </div>
</div>



{% endblock %}
