{% extends 'baseAdmin.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <div class="card">
          <div class="card-body">

            <h2 class=" text-github font-weight-bold my-4">Les commandes de <span class=" text-primary">{{client.nomprenom}}</span></h2>          
          </div>
        </div>
      </div>


  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel col-lg-12">
            <div class="d-flex justify-content-end">
                {# <a class="btn btn-primary" href="{{path('app_ajout_commande')}}">Ajouter commande +</a> #}
            </div>
            <div class="content-wrapper">
                {# <h3 class="text-center text-github font-weight-bold my-4">Liste des commandes </h3> #}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if commandes is not empty %}
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Client</th>
                                <th>Code</th>
                                <th>Désignation</th>
                                <th>Qte</th>
                                <th>PU.H.T</th>
                                <th>TTVA</th>
                                <th>R%</th>
                                <th>TIMBRE</th>
                                <th>Date</th>
                                <th class=" text-center" colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in commandes %}
                                {% set numRows = item.commandemateriels|length %}
                                {% for commande_materiel in item.commandemateriels %}
                                    <tr>
                                        {% if loop.first %}
                                            <td rowspan="{{ numRows }}">{{ item.client.nomprenom }}</td>
                                            <td rowspan="{{ numRows }}">{{ item.code }}</td>
                                        {% endif %}

                                        <td>{{ commande_materiel.materiel.nom }}</td>
                                        <td>{{ commande_materiel.qte }}</td>
                                        <td>{{ commande_materiel.prix }}</td>
                                        {% if loop.first %}
                                            
                                            
                                            <td rowspan="{{ numRows }}">{{ commande_materiel.tva }} %</td>
                                            <td rowspan="{{ numRows }}">{{ commande_materiel.remise|number_format(2, '.', ' ') }}</td>
                                            <td rowspan="{{ numRows }}">{{ item.timbre }}</td>
                                            <td rowspan="{{ numRows }}">{{ item.date | date('d-m-Y') }}</td>
                                            <td rowspan="{{ numRows }}">
                                                <li><a type="submit" class="btn btn-warning" href="{{path('app_detail_commande',{'id':item.id})}}"> Detail commande</a></li>
                                            </td>
                                            <td rowspan="{{ numRows }}">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                                    <li><a type="submit" class="dropdown-item" href="{{path('app_update_commande',{'id':item.id})}}"><i class="fas fa-edit"></i> Modifier</a></li>
                                                    <li><a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce matériel ?')" type="submit" class="dropdown-item" href="{{path('app_delete_commande',{'id':item.id})}}"><i class="fas fa-trash-alt"></i> Supprimer</a></li>
                                                    <li><a type="submit" class="dropdown-item" href="{{path('generate_pdf',{'clientId':client.id, 'commandId':item.id})}}"><i class="fas fa-print"></i> Imprimer devis</a></li>

                                                
                                                    </ul>
                                                </div>
                                            </td>
                                                
                                            
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                                <tr style="border-bottom: 2px solid black;"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="bg-info text-black p-3">Aucune commande disponible</div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}
