{% extends 'baseAdmin.html.twig' %}


{% block body %}

<div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Détails sur la commande N. <span class=" text-primary">{{commande.code}}</span> </h5>
            <p class="mb-0"><i>Date : {{ commande.date | date('d/m/Y') }}</i> </p>
          </div>
        </div>
      </div>
   <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel col-lg-12">
            <div class="content-wrapper">
                    <table class="table table-bordered">
                        <thead style ="background-color:#5D87FF;color:white;">
                            <tr>
                                <th>Client</th>
                                <th>Code</th>
                                <th>Désignation</th>
                                <th>Qte</th>
                                <th>PU.H.T</th>
                                <th>R%</th>
                                <th>TVA</th>
                                <th>T.HT</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% set item = commande %} {# assuming 'commande' is the specific command passed from the detailCommande function #}
                            {% set numRows = item.facturemateriels|length %}

                            {% set totalHT = 0 %}
                            {% set Remise = 0 %}
                            {% set totalRemise = 0 %}
                            {% set totalTVA = 0 %}

                            {% for commande_materiel in item.facturemateriels %}
                                <tr>
                                    {% if loop.first %}
                                        <td rowspan="{{ numRows }}">{{ item.client.nomprenom }}</td>
                                        <td rowspan="{{ numRows }}">{{ item.code }}</td>
                                        
                                    {% endif %}

                                    <td>{{ commande_materiel.materiel.nom }}</td>
                                    <td>{{ commande_materiel.qte }}</td>
                                    <td>{{ commande_materiel.prix|number_format(0, '.', ' ') }}</td>
                                    <td>{{ commande_materiel.remise|number_format(2, '.', ' ') }}</td>
                                    <td>{{ commande_materiel.tva|number_format(0, '.', ' ') }} %</td>
                                    <td>{{ (commande_materiel.prix * commande_materiel.qte)|number_format(0, '.', ' ') }}</td>
                                    

                                </tr>

                                {% set totalHT = totalHT + (commande_materiel.prix * commande_materiel.qte ) %}
                                {% set Remise = commande_materiel.prix * ( commande_materiel.remise / 100 )  %}
                                {% set totalRemise = totalRemise + Remise  %}
                                {% set totalTVA = totalTVA + ( ( commande_materiel.prix * commande_materiel.qte ) * commande_materiel.tva / 100 ) %}
                                

                            {% endfor %}

                            {% set totalTTC = totalHT + totalTVA + commande.timbre %}

                            {# Subtract total remise from total TTC if total remise is greater than 0 #}
                            {% if totalRemise > 0 %}
                                {% set totalTTC = totalTTC - totalRemise %}
                            {% endif %}

                            <tr style="border-bottom: 2px solid black;"></tr>
                        </tbody>

                    </table>




                    <div class="row mt-5">
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered">
                                <thead class="">
                                    <tr>
                                        <th>TVA %</th>
                                        <th>Montant TVA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>19 %</td>
                                        <td>{{ totalTVA|number_format(3, '.', ' ') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Total H.T</th>
                                    <td>{{ totalHT|number_format(0, '.', ' ') }}</td>
                                </tr>
                                <tr>
                                    <th>Total Remise</th>
                                    <td>{{ totalRemise|number_format(3, '.', ' ') }}</td>
                                </tr>
                                <tr>
                                    <th>Total TVA</th>
                                    <td>{{ totalTVA|number_format(0, '.', ' ') }}</td>
                                </tr>
                                <tr>
                                    <th>TIMBRE</th>
                                    <td>{{ commande.timbre }}</td>
                                </tr>
                                <tr>
                                    <th>Total TTC</th>
                                    <td>{{ totalTTC|number_format(3, '.', ' ') }}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                {% if commande.type == 'devis' %}
                <a class=" mb-5 btn btn-success" href="{{path('generate_pdf_facture',{'clientId':client.id, 'commandId':commande.id})}}">Imprimer Devis</a>
				{% elseif commande.type == 'facture' %}
                <a class=" mb-5 btn btn-success" href="{{path('generate_pdf_facture',{'clientId':client.id, 'commandId':commande.id})}}">Imprimer Facture</a>
				{% endif %}

            </div>
        </div>
    </div>
</div>


{% endblock %}
