{% extends 'baseAdmin.html.twig' %}


{% block body %}
   <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel col-lg-12">
            <div class="content-wrapper">
                <h3 class="text-center text-github font-weight-bold my-4">Informations detaille sur la commande N. {{commande.code}} </h3>
                <h5 class=" text-github"> Date : {{ commande.date | date('d/m/Y') }}</h5>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Client</th>
                                <th>Code</th>
                                <th>Désignation</th>
                                <th>Qte</th>
                                <th>PU.H.T</th>
                                <th>R%</th>
                                <th>TVA</th>
                                <th>T.TC</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% set item = commande %} {# assuming 'commande' is the specific command passed from the detailCommande function #}
                            {% set numRows = item.commandemateriels|length %}

                            {% set totalHT = 0 %}
                            {% set Remise = 0 %}
                            {% set totalRemise = 0 %}
                            {% set totalTVA = 0 %}

                            {% for commande_materiel in item.commandemateriels %}
                                <tr>
                                    {% if loop.first %}
                                        <td rowspan="{{ numRows }}">{{ item.client.nomprenom }}</td>
                                        <td rowspan="{{ numRows }}">{{ item.code }}</td>
                                        
                                    {% endif %}

                                    <td>{{ commande_materiel.materiel.nom }}</td>
                                    <td>{{ commande_materiel.qte }}</td>
                                    <td>{{ commande_materiel.prix|number_format(0, '.', ' ') }}</td>
                                    <td>{{ commande_materiel.remise|number_format(2, '.', ' ') }}</td>
                                    <td>{{ commande_materiel.tva|number_format(0, '.', ' ') }}</td>
                                    <td>{{ ( (commande_materiel.prix * commande_materiel.qte )  + commande_materiel.tva)|number_format(0, '.', ' ') }}</td>
                                    

                                </tr>

                                {% set totalHT = totalHT + (commande_materiel.prix * commande_materiel.qte ) %}
                                {% set Remise = commande_materiel.prix * ( commande_materiel.remise / 100 )  %}
                                {% set totalRemise = totalRemise + Remise  %}
                                {% set totalTVA = totalTVA + commande_materiel.tva %}

                            {% endfor %}

                            {% set totalTTC = totalHT + totalTVA + commande.timbre %}

                            {# Subtract total remise from total TTC if total remise is greater than 0 #}
                            {% if totalRemise > 0 %}
                                {% set totalTTC = totalTTC - totalRemise %}
                            {% endif %}

                            <tr style="border-bottom: 2px solid black;"></tr>
                        </tbody>

                    </table>


                    {% set montantTVA = totalHT * (commande.ttva / 100) %} 

                    <div class="row mt-5">
                        <div class="col-md-6">
                            <table class="table table-striped table-bordered">
                                <thead class="">
                                    <tr>
                                        <th>TVA %</th>
                                        <th>Montant TVA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ commande.ttva }}</td>
                                        <td>{{ montantTVA }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Total H.T</th>
                                    <td>{{ totalHT|number_format(0, '.', ' ') }}</td>
                                </tr>
                                <tr>
                                    <th>Total Remise</th>
                                    <td>{{ totalRemise|number_format(0, '.', ' ') }}</td>
                                </tr>
                                <tr>
                                    <th>Total TVA</th>
                                    <td>{{ totalTVA|number_format(0, '.', ' ') }}</td>
                                </tr>
                                <tr>
                                    <th>TIMBRE</th>
                                    <td>{{ commande.timbre|number_format(3, '.', ',') }}</td>
                                </tr>
                                <tr>
                                    <th>Total TTC</th>
                                    <td>{{ totalTTC|number_format(3, '.', ' ') }}</td>
                                </tr>
                            </table>

                        </div>
                    </div>

                <a class=" mb-5 btn btn-success" href="{{path('generate_pdf',{'clientId':client.id, 'commandId':commande.id})}}">Imprimer devis</a>

            </div>
        </div>
    </div>
</div>


{% endblock %}
