{% extends 'baseAdmin.html.twig' %}


{% block body %}
   <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel col-lg-12">
            <div class="d-flex justify-content-end">
                {# <a class="btn btn-primary" href="{{path('app_ajout_commande')}}">Ajouter commande +</a> #}
            </div>
            <div class="content-wrapper">
                <h3 class="text-center text-github font-weight-bold my-4">Informations detaille sur la commande N. {{commande.code}} </h3>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Client</th>
                                <th>Code</th>
                                <th>Désignation</th>
                                <th>Qte</th>
                                <th>PU.H.T</th>
                                <th>TTVA</th>
                                <th>REMISE</th>
                                <th>TIMBRE</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set item = commande %} {# assuming 'commande' is the specific command passed from the detailCommande function #}
                            {% set numRows = item.commandemateriels|length %}
                            {% for commande_materiel in item.commandemateriels %}
                                <tr>
                                    {% if loop.first %}
                                        <td rowspan="{{ numRows }}">{{ item.client.nomprenom }}</td>
                                        <td rowspan="{{ numRows }}">{{ item.code }}</td>
                                    {% endif %}

                                    <td>{{ commande_materiel.materiel.nom }}</td>
                                    <td>{{ commande_materiel.qte }}</td>
                                    <td>{{ commande_materiel.prix }}</td>
                                    <td>{{ commande_materiel.tva }}</td>
                                    
                                    {% if loop.first %}
                                        <td rowspan="{{ numRows }}">{{ item.remise }}</td>
                                        <td rowspan="{{ numRows }}">{{ item.timbre }}</td>
                                        <td rowspan="{{ numRows }}">{{ item.date | date('d-m-Y') }}</td>   
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            <tr style="border-bottom: 2px solid black;"></tr>
                        </tbody>

                    </table>


<br> <br>

                     <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>TVA %</th>
                                <th>Montant TVA</th>
                                <th>Total H.T</th>
                                <th>Total Remise</th>
                                <th>PU.H.T</th>
                                <th>Total TVA</th>
                                <th>TIMBRE</th>
                                <th>Total TTC</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    

                                </tr>
                        </tbody>

                    </table>
                

            </div>
        </div>
    </div>
</div>


{% endblock %}
