{% extends 'baseAdmin.html.twig' %}


{% block body %}
   <div class="container-scroller">
      <div class="container-fluid page-body-wrapper ">
        <div class="main-panel col-lg-12">
        <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-fw col-lg-1 float-right" data-toggle="modal" data-target="#SignIn">Ajouter commande +</button>
        </div>
          <div class="content-wrapper">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                <div class="card-header">
                      <h5 class="card-title text-center">Liste des commandes</h5>
                    </div>
                  <div class="card-body">
                    </p>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          {# <th> Client</th> #}
                          <th> Code </th>
                          <th> Désignation </th>
                          <th> Quantite </th>
                          <th> PU.H.T </th>
                          <th> TTVA</th>
                          <th> REMISE</th>
                          <th> TIMBRE</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for c in commandes %}
                        
                        <tr>
                          {# <td> {{c.client.nom_prenom}} </td> #}
                          <td> {{c.code}} </td>
                          <td> {{c.designation}} </td>
                          <td> {{c.qte}} </td>
                          <td> {{c.puht}} </td>
                          <td> {{c.ttva}} </td>
                          <td> {{c.remise}} </td>
                          <td> {{c.timbre}} </td>
                          <td>
                            <div class="dropdown">
                              <a class="dropdown-toggle" href="#" role="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                <li><a type="submit" class="dropdown-item" href="#"><i class="fas fa-edit"></i> Edit</a></li>
                                <li><a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce matériel ?')" type="submit" class="dropdown-item" href="#"><i class="fas fa-trash-alt"></i> Delete</a></li>
                                                                <li><a type="submit" class="dropdown-item" href="#"><i class="fas fa-edit"></i> Edit</a></li>

                              </ul>
                            </div>
                          </td>
                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="SignIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter commande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form_start(addCommande) }}
        <div class="mb-2">
            {{ form_widget(addCommande.client, {'attr': {'class': 'form-control', 'placeholder': 'Client'}}) }}
        </div>
        <div class="mb-2">
            {{ form_widget(addCommande.code, {'attr': {'class': 'form-control', 'placeholder': 'Code'}}) }}
        </div>
        <div class="mb-2">
            {{ form_widget(addCommande.designation, {'attr': {'class': 'form-control', 'placeholder': 'Désignation'}}) }}
        </div>
        <div class="mb-2">
            {{ form_widget(addCommande.qte, {'attr': {'class': 'form-control', 'placeholder': 'Quantite'}}) }}
        </div>
         <div class="mb-2">
            {{ form_widget(addCommande.puht, {'attr': {'class': 'form-control', 'placeholder': 'PU'}}) }}
        </div>
         <div class="mb-2">
            {{ form_widget(addCommande.ttva, {'attr': {'class': 'form-control', 'placeholder': 'Taux tva'}}) }}
        </div>
         <div class="mb-2">
            {{ form_widget(addCommande.remise, {'attr': {'class': 'form-control', 'placeholder': 'Remise'}}) }}
        </div>
        <div class="mb-2">
            {{ form_widget(addCommande.timbre, {'attr': {'class': 'form-control', 'placeholder': 'Timbre'}}) }}
        </div>
        
      </div>
      <div class="modal-footer">
        {{ form_widget(addCommande.save, {'label': 'Add new +', 'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(addCommande)}}
      </div>
    </div>
  </div>
</div>
    







{% endblock %}
