<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Devis</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>


		<div class="row ml-5 mr-5 mb-3 justify-content-between">
			<div>
				<h1 style="font-size:50px;" class=" text-center text-info">Devis</h1>
			</div>
			{# <div>
				<img style="float:right;margin-top:-45px;" src="https://127.0.0.1:8000/assets/img/logo.png" width="200" alt="Your Image">
			</div> #}
		</div>


		<br>
		
			<h3> <strong>Devis No : {{ commande.code }}</strong></h3>
			{# Add other properties of commande here if needed #}
			<h3 class="mt-2"> <strong>Tunis : 17/20/30</strong> </h3>
		
		<br>


		<div style="display: inline-block; margin-right: 20px; width: 40%;">
			 <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; padding: 10px;">
				<tr>
					<td>{{app.user.fullname}}</td>
				</tr>
				<tr>
					<td>{{app.user.poste}}</td>
				</tr>
				<tr>
					<td>{{app.user.email}}</td>
				</tr>
				<tr>
					<td>MF : {{app.user.mf}}</td>
				</tr>
			</table>
		</div>

		<div style="display: inline-block; width: 20%;">
			<table border="1" cellpadding="5" cellspacing="0" style="width: 100%; padding: 40%;">
				<tr>

					<td>Client : {{ client.nomprenom }}</td>
				</tr>

			</table>
		</div>


		<br><br><br>

		<div style="display: block;">
			<table border="1" cellpadding="5" cellspacing="0" style="width: 100%; font-size: 1.2em;">
				<thead class="thead-dark" style="background-color: #30C8D9; color: white;">
					<tr>
							<th>Client</th>
							<th>Code</th>
							<th>Materiel</th>
							<th>Quantite</th>
							<th>PU.H.T</th>
							<th>TTVA</th>
							<th>REMISE</th>
							<th>TIMBRE</th>
							<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% for item in commandes %}
						{% set numRows = item.commandemateriels|length %}
						{% for commande_materiel in item.commandemateriels %}
							<tr style="padding: 10px;">
									{% if loop.first %}
										<td rowspan="{{ numRows }}">{{ item.client.nomprenom }}</td>
										<td rowspan="{{ numRows }}">{{ item.code }}</td>
									{% endif %}

									<td>{{ commande_materiel.materiel.nom }}</td>
									<td>{{ commande_materiel.qte }}</td>
									<td>{{ commande_materiel.prix }}</td>

									{% if loop.first %}
										<td rowspan="{{ numRows }}">{{ item.ttva }}</td>
										<td rowspan="{{ numRows }}">{{ item.remise }}</td>
										<td rowspan="{{ numRows }}">{{ commande_materiel.timbre }}</td>
										<td rowspan="{{ numRows }}">{{ item.date | date('d-m-Y') }}</td>  
									{% endif %}

								</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>



	</body>
</html>
